.Card{
    align-self: center;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 100%;
    max-width: 300px;
    height: calc(155px + 3vmax);
    max-height: 200px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    align-self: flex-start;
}

.Card-imageContainer{
    width: 100%;
    height: calc(35px + 2vmax);
    max-height: 70px;
}

.Card-image{
    margin-top: 10px;
    height: 100%;
    width: auto;
}

.Card-title{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: calc(11px + 1vmin);
    font-weight: 600;
}

.Card-info{
    height: fit-content;
    font-size: calc(8px + 1vmin);
    margin-bottom: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.Card-description{
    width: 90%;
    opacity: 0;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:800px) {
    .Card{
        height: calc(135px + 3vmax);
    }

    .Card-title{

        margin-top: 15px;

    }
    
}
