.Nav{
    width: var(--nav-width);
    left: 0;
    transition: all 0.25s;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.Nav-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 500px;
    list-style: none;
    justify-content: space-between;
    transition: all 0.25s;
}

.Nav-item{
    cursor: pointer;
}

.Nav-itemLink{
    text-decoration: none;
    color: var(--header-text-color);
}


@media screen and (max-width: 900px) {

    .Nav{
        font-size: 25px;
        width: 100%;
        font-weight: 600;
    }

    .Nav-content{
        padding-top: 10px;
        top: 48px;
        flex-direction: column;
        height: 0px;
        overflow: hidden;
        width: fit-content;
        position: fixed;
        left: calc(5% + 12px);
    }

    .Nav.open .Nav-content{
        height: fit-content;
        width: fit-content;
        align-items: baseline;
        transition: all 0.5s;
    }

    .Nav-item{
        padding-bottom: 10px;
        padding-top: 10px;
        width: fit-content;
        opacity: 0;
    }

    .Nav.open .Nav-item{
        opacity: 1;
        transition: all 1.5s;
    }
}


