.Location{
    width: 100%;
    height: fit-content;
    scroll-margin-top: calc(var(--header-height) + 10px);
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
}

.Location-content{
    height: 100%;
    width: calc(100% - 40px);
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    flex-direction: row; */
    justify-content: space-between;
}

.Location-mapContainer{
    width: 100%;
    height: 600px;
}

.Location-text{
    width: 100%;
}

.Location-title{
    font-size: calc(18px + 2vmin);
    font-weight: 700;
}

.Location-description{
    font-size: calc(13px + 1vmin);
    font-weight: 300;
    margin-top: 55px;
}

.Location-mapFrame{
   margin-top: 10px;
    height: 100%;
    width: 100%;
}

.Location-list{
    margin-top: 20px;
}

.Location-listItem{
    list-style: none;
    background-position: left center;
    background-image: url('/public/icons/right-arrow.png');
    background-size: 24px;
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-top: 10px;
}

@media screen and (max-width:800px) {
    .Location-content{
        flex-direction: column;
    }

    .Location{
        height: fit-content;
    }

    .Location-mapContainer{
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .Location-text{
        width: 100%;
        margin-bottom: 15px;
    }

    .Location-listItem{
        background-size: 16px;
        background-repeat: no-repeat;
        padding-left: 22px;
    }

    .Location-description{
        margin-top: 10px;
    }
    
}
