.GalleryPopup{
    width: 100%;
    height: calc(100vh - 48px);
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    top: 48px;
    display: none;
}

.GalleryPopup-content{
    max-width: 1310px;
    max-height: 1200px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.GalleryPopup-closeIcon{
    width: 24px;
    height: 24px;
    top: 10px;
    left: calc(100% - 34px);
    position: relative;
    z-index: 99;
    cursor: pointer;
}

.GalleryPopup-image{
    width: auto;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

@media screen and (min-width:751px) {
    .GalleryPopup.open{
        display: block;
    }
}
