.Gallery {
    width: 100%;
    height: fit-content;
    scroll-margin-top: calc(var(--header-height) * 2 + 10px);
}

.Gallery-title {
    position: relative;
    font-size: var(--title-font-size);
    font-weight: 500;
    font-family: "Cyrillic Old Face";
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    line-height: 1;
    padding-bottom: 10px;
}

.Gallery-videoContainer {
    width: 100%;
    max-width: 1100px;
    height: fit-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.Gallery-video {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}

.Gallery-content {
    max-width: 1100px;
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.Gallery-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: 1fr;
}

.Gallery-card {
    height: 100%;
    max-width:calc(1100px / 3);
    max-height:calc(1100px / 5);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

.Gallery-img {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

@media screen and (max-width: 1100px){
    .Gallery-card{
        max-width: calc(calc(100vw/3));
        max-height: calc(calc(100vw/3));
    }
}


@media screen and (max-width: 700px) {
    .Gallery-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .Gallery-card {
        max-width: calc(calc(100vw/2));
        max-height: calc(calc(100vw/2));
        min-width: 145px;
        min-height: 145px;
    }
}


