.GalleryPopup {
  width: 100%;
  height: calc(100vh - 48px);
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  top: 48px;
  display: none;
}

.GalleryPopup-switch {
    position: absolute;
    top: 50%;
    translate: transformY(-50%);
    z-index: 9;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.GalleryPopup-prev{
    left: 20px;
}

.GalleryPopup-next{
    right: 20px;
}

.GalleryPopup-sImage{
    width: 32px;
    height: 32px;
    position: relative;
}

.GalleryPopup-nextImage{
    transform: rotate(-90deg);
}

.GalleryPopup-prevImage{
    transform: rotate(90deg);
}

.GalleryPopup-gradient{
    z-index:9;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 90%, rgba(0,0,0,0.5) 100%);
}

.GalleryPopup-content {
  width: fit-content;
  height: fit-content;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  overflow: hidden;
}

.GalleryPopup-closeIcon {
  width: 24px;
  height: 24px;
  top: 10px;
  left: calc(100% - 34px);
  position: absolute;
  z-index: 99;
  cursor: pointer;
}

.GalleryPopup-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 1100px;
  max-height: calc(100vh - 48px - 34px);
  position: relative;
}

.GalleryPopup.open {
  display: block;
}
