@import url('/src/fonts/stylesheet.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: white;
  --main-text-color: #1d1f1d;
  
  font-size: 17px;
  font-family: 'Montserrat';
  font-weight: 400px;
  min-width: 300px
}

:root{
  --header-background-color: rgba(255, 255, 255, 0.8);
  --header-text-color: var(--main-text-color);

  --header-height: 48px;

  --content-max-width: 1600px;
  --section-height: 600px;  

  --nav-border-bottom: rgba(251, 253, 251, 0.5);
  --title-font-size: clamp(30px, calc(28px + 3vmin), 80px);
}

:root {
  --nav-width: 70%;
}

:root {
  --about-height: 300px;
}

.App-content{
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  --gap: 40px;
  gap: var(--gap);
  margin-top: calc(var(--header-height));
}

