.Footer{
    width: 100%;
    height: 150px;
}

.Footer-content{
    width: 90%;
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Footer-socials{
    display: flex;
    flex-direction: row;
    width: 50%;
    max-width: 250px;
    justify-content: space-between;
    height: fit-content;
}

.Footer-iconContainer{
    width: calc(20px + 2vmin);
    height: calc(20px + 2vmin);
}

.Footer-phone{
    height: fit-content;
    font-size: calc(10px + 2vmin);
    font-weight: 700;
}

.Footer-mail{
    height: fit-content;
    font-size: calc(10px + 2vmin);
    font-weight: 700;
}

.Footer-icon{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1000px) {
    .Footer-iconContainer{
        width: calc(10px + 2vmin);
        height: calc(10px + 2vmin);
    }

    .Footer-phone{
        height: fit-content;
        font-size: calc(5px + 2vmin);
        font-weight: 700;
    }

    .Footer-mail{
        height: fit-content;
        font-size: calc(5px + 2vmin);
        font-weight: 700;
    }

    .Footer-socials{
        width: 150px;
    }
    
}

@media screen and (max-width:590px) {

    .Footer-content{
        flex-direction: column;
        gap: 10px;
        justify-content: space-around;
    }

    .Footer-iconContainer{
        width: calc(20px + 2vmin);
        height: calc(20px + 2vmin);
    }

    .Footer-phone{
        height: fit-content;
        font-size: calc(10px + 2vmin);
        font-weight: 700;
    }

    .Footer-mail{
        height: fit-content;
        font-size: calc(10px + 2vmin);
        font-weight: 700;
    }

    .Footer-socials{
        width: 150px;
        padding-bottom: 20px;
    }

    .Footer{
        height: 60px;
    }
    
}
